@import './variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page-header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $light;
    margin-bottom: 2em;

    .title {
        font-size: 2.2em;
        color: $dark;
    }
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @media (min-width: $for_small_up) {
        flex-direction: column;
        align-content: center;
    }

    @media (min-width: $for_large_up) {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .component {
        flex: 1;
        text-align: center;
        min-width: 340px;
        max-width: 700px;
        background-color: $dark;
        padding: 1.5em;

        &__title {
            font-size: 1.5em;
        }

        &__description {
            font-size: 1.1em;
        }

        &__list {
            list-style: none;
            text-align: left;
        }

        &__item {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: $light;
            border-radius: $radius;
        }
    }
}

.header {
    background-color: $light;
    margin-bottom: 1em;
    border-radius: $radius;
    color: $dark;
    padding: 1.5em;

    &__title {
        font-size: 1.5em;
    }

    &__description {
        font-size: 1.1em;
    }
}

.header_style_square {
    background-color: $accent;
    border-radius: 0;
    color: $light;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &__section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition: 600ms ease-in-out;
        transform: translateX(0%);
    }

    &__description {
        display: inline;
        font-size: 1.5em;
        overflow-wrap: break-word;
        max-width: 75%;
        padding-left: 1.5em;
    }

    &__progress {
        width: 25%;
        padding-right: 1.5em;
        font-size: 1.2em;
    }

    &__options {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        transition: 600ms ease-in-out;
        transform: translateX(0%);
        position: absolute;
        left: 100%;
    }

    $size: 40px;

    .button {
        border: none;
        cursor: pointer;
        background: transparent;
        width: $size;
        height: $size;
        margin: 0.3em;
        transition: 300ms 100ms linear;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .svg {
        width: $size;
        height: $size;
    }

    .path {
        fill: $dark;
    }

    &:hover &__options,
    &:hover &__section {
        transform: translateX(-100%);
    }
}

.form-add {
    padding: 0.5em;
    $size: 40px;

    .button {
        position: relative;
        width: $size * 1.5;
        height: $size;
        border-radius: $radius;
        border: none;
        background-color: $dark;
        color: $light;
        margin: 0.5em;
        cursor: pointer;

        .path {
            fill: $light;
        }
    }
    &__input {
        height: $size;
        border-radius: $radius;
        padding: 1em;
        background-color: $light;
        color: $dark;
        border: 3px solid $dark;
    }
}

.form-edit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &__buttons-container {
        display: flex;
    }
}

.schedule {
    text-align: center;
    background-color: $light;

    .header__time-example {
        font-size: 2em;
    }

    .form-schedule {
        display: flex;

        @media (min-width: $for_small_up) {
            flex-direction: column;
            align-content: center;
        }

        @media (min-width: $for_medium_up) {
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__wrapper {
            border-radius: $radius;
            background-color: $light;
            color: $accent;
            padding: 1.5em;
            margin: 0.5em;
            display: flex;
            flex-direction: column;
        }

        &__input {
            cursor: pointer;
        }

        &__input_type_text {
            border-radius: $radius;
            border: 5px solid $accent;
            padding: 0.7em;
            margin: 0.6em;
        }
    }

    .button {
        border-radius: $radius;
        padding: 0.7em;
        border: 2px solid $accent;
        background-color: transparent;
        cursor: pointer;
    }

    .table {
        margin: 2em auto;
        width: 70%;

        &__header-cell {
            border: 5px solid $accent;
            border-radius: $radius;
            font-size: 1.5em;
            color: $accent;

            @media (min-width: $for_small_up) {
                padding: 0;
            }

            @media (min-width: $for_medium_up) {
                padding: 1em;
            }
        }

        &__data-cell {
            border-bottom: 5px solid $accent;
            color: $accent;

            @media (min-width: $for_small_up) {
                padding: 0;
            }

            @media (min-width: $for_medium_up) {
                padding: 0.5em;
                font-size: 1.3em;
            }
        }
    }

    .svg {
        width: 20px;
        height: 20px;
    }
}

.page-footer {
    margin-top: 2em;
    background-color: $dark;
    color: $light;
    text-align: center;
    font-size: 3em;
    padding: 2em;
}
